.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Main-Dashboard {
  background: linear-gradient(to bottom right, #191e20, #373746); /* Dark elegant base */
  background-size: 200% 200%;
  animation: gradientShift 12s ease infinite;
  /* border-radius: 20px; */
  padding: 30px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
  animation: fadeIn 1s ease-in-out;
}

/* Fade-in animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.Main-Dashboard > * {
  margin-bottom: 24px;
}

.add-income-container {
  background: linear-gradient(135deg, #06090c, #3a4c71);
  /* border: 2px solid #ffd700; Golden border for premium feel */
  border-radius: 12px; /* Optional: makes the border softer */
  box-shadow: 0 0 12px rgba(255, 215, 0, 0.2); /* subtle golden glow */
}

